Django==1.11
django-allauth==0.29.0
django-extensions==1.7.5
#haystack==0.36
Werkzeug==0.11.11
elasticsearch==5.0.1
django-countries==4.0
Pillow
django-reversion
django-rosetta
django-mysql
django-dashing
django-celery-email
django-configurations
django-modeladmin-reorder
django-permission
django-smuggler
django-codemirror2
djangorestframework
markdown
django-filter
google-api-python-client
django-cors-headers
django-rest-swagger
jsonfield==2.0.1
django-tinymce4-lite
django-jsoneditor
beautifulsoup4