{% extends "./base.html" %}
{% load i18n %}
{% block content %}

    <div class="ui cards">
        {% for program in programs %}
            <div class="card" id="{{ program.id }}">
                <div class="content">
                    <div class="header">
                    {{ program.title }}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <style type="text/css">
        div.header {
            text-align: center;
        }

        div.card {
            cursor: pointer;
        }
    </style>
{% endblock %}