{% extends "./base.html" %}
{% load i18n %}
{% block content %}

    <div class="ui statistic">
        <div class="value">
            {{ programs|length }}
        </div>
        <div class="label">
            программ
        </div>
    </div>

    {% for program in programs %}
        <div class="ui segment pointer program" id="{{ program.id }}">
            <h3>{{ program.title }}</h3>
        </div>
    {% endfor %}

    <script type="text/javascript">
        [].forEach.call(document.getElementsByClassName("pointer"), function (el) {
            el.addEventListener("click", function () {
                document.location.href = el.id;
            });
        });
    </script>


    <style type="text/css">
        div.header {
            text-align: center;
        }

        div.pointer  {
            cursor: pointer;
        }
    </style>
{% endblock %}