{% extends "./base.html" %}
{% load i18n %}
{% block content %}

    <h1>{{ program.title }}</h1>
    <p>{{ program.training_direction }}</p>

    <table class="ui selectable celled table">
        <thead>
        <tr>
            <th class="sorted ascending">Наименование</th>
            <th>Номер модуля</th>
            <th>Координатор</th>
        </tr>
        </thead>
        <tbody>
        {% for module in program.get_modules %}
            <tr>
                <td>{{ module.title }}</td>
                <td>{{ module.uni_number }}</td>
                <td>{{ module.uni_coordinator }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
    $('table').tablesort();
    </script>


        <style type="text/css">
            div.header {
                text-align: center;
            }

            div.pointer {
                cursor: pointer;
            }
        </style>
{% endblock %}