{% extends "./base.html" %}
{% load i18n %}
{% block content %}

    <h1>{{ program.title }}</h1>
    <p>{{ program.training_direction }}</p>

    <table class="ui selectable celled table">
        <thead>
        <tr>
            <th class="sorted ascending">Наименование</th>
            <th>Номер модуля</th>
            <th>Координатор</th>
        </tr>
        </thead>
        <tbody>
        {% for module in program.get_modules %}
            <tr>
                <td>{{ module.title }}</td>
                <td>{{ module.uni_number }}</td>
                <td>{{ module.uni_coordinator }}</td>
            </tr>
            {% for discipline in module.get_disciplines %}
                <tr class="discipline">
                    <td>{{ discipline.title }}</td>
                    <td>{{ discipline.uni_number }}</td>
                    <td>---</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <script>
        $('table').tablesort();
        $('#home').click(function () {
            document.location.href = "/stat/";
        });
    </script>


    <style type="text/css">
        tr.discipline {
            background-color: lightsalmon;
        }

        div.header {
            text-align: center;
        }

        div.pointer {
            cursor: pointer;
        }

    </style>
{% endblock %}