{% extends "constructor_v2/base.html" %}
{% load i18n %}
{% block content %}

<div id='container' style='width:100%; height:100%; margin:20px;'></div>
		<script type="text/javascript" charset="utf-8">
			webix.ui({
				container:"container",
				multi:true,
				view:"accordion",
				rows:[
					{ header:"col 1", body:"content 1", height:140},
					{
						collapsed:false,
						header:"col 3",
						body:"content 3",
						height:140
					},
					{ header:"col 5", body:"content 5", height:140}
				]
			});

		</script>

{% endblock %}