@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Semibold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansCond';
    src: url('../fonts/opensans-condbold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansCond';
    src: url('../fonts/opensans-condlight-webfont.woff');
    font-weight: 300;
    font-style: normal;
}
