{% extends "constructor/base.html" %}
{% load i18n %}
{% block content %}
    {% for course in courses %}
        <div class="ui segments">
            <div class="ui clearing segment">
                <div class="course">
                    <div class="course-title">
                        <h3>{{course.title}}</h3>
                    </div>
                </div>
                <a href="{% url "course_detail" course.id %}"><div class="ui right floated button">Подробнее</div></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}