{% extends "constructor/base.html" %}
{% load i18n %}
{% block content %}
    <div class="course-detail">
        <div class="course-title"><h1>Курс "{{course.title}}"</h1>
            <p>&nbsp;</p></div>

            {% if course.external_link %}
            <a href="{{course.external_link}}">Перейти к курсу</a>
            {% endif %}
            
            <div class="course_about">
                <h2>О курсе:</h2>
                <p>{{course.about|safe}}</p>
            </div>
            <div class="course-description"><h2>Описание:</h2>
                <p>{{course.description|safe}}</p>
            </div>
            <div class="results">
                {% if course.results.all %}
                    <h2>Результаты обучения:</h2>
                    {% for result in course.results.all %}
                        <div class="ui segment">
                        <h4>{{result.title}}</h4>
                            <div class="ui floating label"><a href="{% url "result_remove" course.id result.id %}"><i class="red remove icon"></i></a></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="ui segment">
                <h2>Добавить результат обучения</h2>
                {% for result in results_available %}
                    <h4><a href="{% url "course_add_result" course.id result.id %}"><i class="plus icon"></i></a>{{result.title}}</h4>
                {% endfor %}
                <hr>


                <form action="{% url "result_create" course.id %}" method="post">{% csrf_token %}
                    <div class="ui top attached tabular menu">
                      <div class="active item">Добавить новый результат обучения</div>
                    </div>
                    <div class="ui bottom attached active tab segment">

                        <div class="ui fluid action input">
                          <input id="id_title" maxlength="512" name="title" type="text" required="" placeholder="Введите результат обучения">
                          <button type="submit" value="Добавить" class="ui button">Добавить</button>
                        </div>
                    
                    </div>

                </form>
            </div>
        </div>
    {% endblock %}