{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<h1 id="title">{{title}}</h1>
<nav class="links">
    <h2 id="openProgramsLink">{% trans 'Образовательные программы' %}</h2>
    <h2 id="coursesLink">{% trans 'Курсы' %}</h2>
    <h2 id="professionsLink">{% trans 'Профессии' %}</h2>
</nav>
<div id="content">
    
</div>

<style type="text/css">
    nav.links {
        display: inline-flex;
    }
    nav.links h2 {
        padding-left: 1em;
        color: darkblue;
    }
</style>
<script type="text/javascript">
    var contentBlock = document.getElementById("content"),
        openProgramsLink = document.getElementById("openProgramsLink"),
        coursesLink = document.getElementById("coursesLink"),
        professionsLink = document.getElementById("professionsLink")

    function getObjectJSON(urlJSON) {
        var objectJSON = {};
        var request = new XMLHttpRequest();
        request.open('GET', urlJSON, false);
        request.onreadystatechange = function(e) {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    console.info("Загрузка успешно завершена: ", urlJSON);
                    objectJSON = JSON.parse(this.responseText);
                } else {
                    console.error("Ошибка загрузки: " + urlJSON);
                }
            }
        };
        request.send(null);
        return objectJSON;
    }

    function getAPIUrls() {
        var baseurl = "/api/v1/?format=json",
            APIUrls = getObjectJSON(baseurl);
        return APIUrls
    };

    var APIUrls = getAPIUrls();

    coursesLink.addEventListener("click", function() {
        courses = getObjectJSON(APIUrls.courses);
        contentBlock.innerHTML = courses.toString();
    })
</script>

</body>
</html>