

{% extends "constructor/base.html" %}
{% load i18n %}
{% block content %}
 
<script type="text/javascript">
    var contentBlock = document.getElementById("content"),
        openProgramsLink = document.getElementById("openProgramsLink"),
        coursesLink = document.getElementById("coursesLink"),
        professionsLink = document.getElementById("professionsLink")

    function getObjectJSON(urlJSON) {
        var objectJSON = {};
        var request = new XMLHttpRequest();
        request.open('GET', urlJSON, false);
        request.onreadystatechange = function(e) {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    console.info("Загрузка успешно завершена: ", urlJSON);
                    objectJSON = JSON.parse(this.responseText);
                } else {
                    console.error("Ошибка загрузки: " + urlJSON);
                }
            }
        };
        request.send(null);
        return objectJSON;
    }

    function getAPIUrls() {
        var baseurl = "/api/v1/?format=json",
            APIUrls = getObjectJSON(baseurl);
        return APIUrls
    };

    var APIUrls = getAPIUrls();

    coursesLink.addEventListener("click", function() {
        courses = getObjectJSON(APIUrls.courses);
        contentBlock.innerHTML = courses.toString();
    })
</script>

{% endblock %}
