{% extends "constructor/base.html" %}
{% load i18n %}
{% block content %}
    <div class="ui segments profession-detail">
        <div class="ui segment">
            <div class="profession-title"><h1>Профессия "{{profession.title}}"</h1></div>
            <p>{{profession.description}}</p>
        </div>
    </div>
    <div class="ui secondary segment">
        <h2>Компетенции и результаты обучения</h2>
        {% if profession.competences %}
            {% for competence in profession.competences %}
                <div class="ui segment competence">
                    <div class="ui floating label"><a href="{% url "competence_profession_remove" profession.id competence.id %}">Убрать</a></div>
                    <h3 style="padding-left:14px;"><a href="{% url "competence_edit" competence.id %}">{{competence.title}}</a></h3>
                    {% for result in competence.results.all %}
                    <p  style="padding-left:28px;">{{result.title}}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            
        {% endif %}
        {% for competence in competences_available %}
            <div class="ui segment">
                <div class="ui floating label"><a href="{% url "competence_profession_add" profession.id competence.id %}">Добавить</a></div>
                {{competence}}
            </div>
        {% endfor %}
    </div>
    <form action="{% url "competence_create" profession.id %}" method="post">{% csrf_token %}
  

                   <div class="ui top attached tabular menu">
                      <div class="active item">Добавить новую компетенцию</div>
                    </div>
                    <div class="ui bottom attached active tab segment">
                        <div class="ui fluid action input">
                          <input id="id_title" maxlength="512" name="title" type="text" required="" placeholder="Компетенция ...">
                          <button type="submit" value="Добавить" class="ui button">Добавить</button>
                        </div>

                    </div>


        
    </form>
    
</div>
{% endblock %}