{% extends "constructor/base.html" %}
{% load i18n %}

{% block content %}
<h1>Профессии</h1>
<a class="fluid ui button" href="{% url "profession_create" %}">Создать профессию</a>

    {% for profession in professions %}
        <div class="ui segments">
            <div class="ui clearing segment">
                <div class="profession">
                    <div class="profession-title"><h3>{{profession.title}}</h3></div>
                </div>
                <div class="ui right floated button"><a href="{% url "profession_detail" profession.id %}">{% trans 'Подробнее' %}</a></div>
            </div>
        </div>

            <style type="text/css">
    .ui.segments .ui.segment, .ui.tabular.menu .active.item, .ui.attached:not(.message)+.ui.attached.segment:not(.top) {
    background-color: rgba(50, 138, 179, 0.1);
    }
    </style>


    {% endfor %}
{% endblock %}