{% extends "constructor/base.html" %}
{% load i18n %}
{% load const_filters %}
{% block content %}
    <h1>Образовательные программы</h1>
    {% for program in programs %}
        <div class="ui segments">
            <div class="ui clearing segment">
                <div class="program">
                    <div class="program-title"><h1>{{program.title}}</h1></div>
                    <div class="ui tiny statistic labor">
                        <div class="value">
                            {{program.labor_percent|percentage }}
                        </div>
                        <div class="label">
                            Трудоемкость
                        </div>
                    </div>
                    <div class="ui tiny statistic profs_count">
                        <div class="value">
                            {{program.profs_count}}
                        </div>
                        <div class="label">
                            Кол-во профессий
                        </div>
                    </div>
                </div>
                <div><a  class="ui right floated button" href="{% url "program_detail" program.id %}">{% trans 'Подробнее' %}</a></div>
            </div>
        </div>
    {% endfor %}
    <form action="{% url "program_create" %}" method="post">{% csrf_token %}
        <div class="ui top attached tabular menu">
            <div class="active item">Создать новую программу</div>
        </div>
        <div class="ui bottom attached active tab segment">
            <div class="ui fluid action input">
                <input id="id_title" maxlength="256" name="title" type="text" required="" placeholder="Введите название программы">
                <button type="submit" value="Добавить" class="ui button">Добавить</button>
            </div>
            
        </div>
    </form>
    <style type="text/css">
    .ui.segments .ui.segment, .ui.tabular.menu .active.item, .ui.attached:not(.message)+.ui.attached.segment:not(.top) {
    background-color: rgba(53,187,53,0.1);
    }
    .profs_count {
        background-color: rgba(50, 138, 179, 0.5);
        padding: 5px 15px 5px 15px;
    }
    .labor {
        background-color: rgba(53,187,53,0.5);
        padding: 5px 15px 5px 15px;
    }
    </style>
{% endblock %}