{% extends "constructor/base.html" %}
{% load i18n %}
{% block content %}
<h1>Образовательные программы</h1>
    {% for program in programs %}
        <div class="ui segments">
            <div class="ui clearing segment">
                <div class="program">
                    <div class="program-title"><h3>{{program.title}}</h3></div>
                </div>
                <div class="ui right floated button"><a href="{% url "program_detail" program.id %}">{% trans 'Подробнее' %}</a></div>
            </div>
        </div>
    {% endfor %}

    <form action="{% url "program_create" %}" method="post">{% csrf_token %}
                    {{form.as_p}}
                          <button type="submit" value="Добавить" class="ui button">Создать</button>
                </form>


{% endblock %}