{% extends "constructor/base.html" %}
{% load const_filters %}
{% load i18n %}

{% block content %}
    <div class="program-detail">
        <div class="program-title"><h1>Образовательная программа "{{program.title}}"</h1></div>
        {% for module in program.modules.all|sort_by:"semester" %}
            <div class="ui segments">
                <div class="ui segment">
                    <h2><a href="{% url "module_detail" module.id %}">Модуль "{{module.title}}"</a></h2>
                    <p>{{module.description}}</p>
                    {% for discipline in module.get_all_disciplines %}
                        <div class="ui secondary segment">
                            <h3><a href="{% url "discipline_detail" discipline.id %}">Дисциплина "{{discipline.name}}"</a></h3>
                            <p>{{discipline.num_courses}}</p>
                        </div>
                    {% endfor %}
                    <div class="ui floating label"><a href="{% url "program_remove" program.id module.id %}"><i class="red remove icon"></i></a></div>
                </div>
            </div>
        {% endfor %}
        <h3>Добавить модуль в программу</h3>
        {% if modules_available %}
            <div class="ui segment">
            <div class="content">

                <form action="{% url "module_create" %}" method="post">{% csrf_token %}
                    <div class="ui top attached tabular menu">
                      <div class="active item">Создать новый модуль</div>
                    </div>
                    <div class="ui bottom attached active tab segment">
                        <div class="ui fluid action input">
                        <input id="id_title" maxlength="256" name="title" type="text" required="" placeholder="Введите название модуля">
                          <button type="submit" value="Добавить" class="ui button">Добавить</button>
                        </div>
                    </div>
                                        
                </form>
                <p>&nbsp;</p>

                <button class="ui button" id="modules-button"><i class="expand icon"></i> Показать модули</button>
                
                <div id= "modules" hidden="hidden">
                <div class="ui segment" style="margin-top: 10px;">
                {% for module in modules_available %}
                    <p><a href="{% url "program_add" program.id module.id  %}"><i class="plus icon"></i></a> {{module.title}}</p>
                {% endfor %}
                </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<script type="text/javascript">

   /* var button = document.getElementById("modules-button");
    button.onclick = function() {
    var div = document.getElementById('modules');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};*/

$( "#modules-button" ).click(function() {
  $( "#modules" ).toggle("fast");
});


</script>
    <style type="text/css">
    .ui.segments .ui.segment, .ui.tabular.menu .active.item, .ui.attached:not(.message)+.ui.attached.segment:not(.top) {
        background-color: rgba(53,187,53,0.1);
    }
    </style>
{% endblock %}